.parallax,
.parallax_layer {
    height: 1000px;
}

.parallax {
    display: block;
    position: relative;
    z-index: 10;
}

.parallax_layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.parallax_layer .animation {
    position: fixed;
}

#background {
    background-image: url(../../assets/landing/layer2.png);
}