* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    will-change: transform;
}

.count {
    transform: translate(-1080px);
    will-change: transform;
}

.revealer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}